.snippingFeedBackContainerOverlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 88;
}
.snippingFeedBackContainer {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background: $overlayColor;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .__headerActionBtns {
    display: flex;
    button {
      width: fit-content;
      &:hover {
        background-color: $white;
        border-radius: 4px;
        transition: 0.3s;
        svg,
        path {
          fill: $primary;
        }
      }
    }
  }
  .__annotateTools {
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 50px;
    padding: 4px;
    gap: 0.7em;
  }
  button {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 0;
    margin: 0 4px 0 0;
    cursor: pointer;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;

    .__undoElCounts {
      margin: 10px 0 0 0;
    }
  }
  .__snipping_button_default_active {
    border: 2px solid $white;
    transition: 0.3s;
    border-radius: 4px;

    svg,
    path {
      fill: $white;
    }
  }
  .__snipping_button_active {
    background-color: $white;
    color: $primary;
    transition: 0.3s;
    border-radius: 4px;

    svg,
    path {
      fill: $primary;
    }
  }
  .snippingContainer {
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    border:none;
    //  4px solid $primary;
    position: relative;

    .snippingHeader {
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 99;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #snippingCanvas {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid;
    }
    .__feedback_description {
      margin: 20px 0 0 0;
      width: 100%;
      border: 0;
      padding: 10px;
    }
  }
}
.__snippingInfoHidden {
  display: none;
}
._snippingInfo {
  background: #f2f2f2;
  border-radius: 7px;
  margin: 6px;
  height: 400px;
  width: 300px;
  box-shadow: 1px 2px 11px 7px rgba(0, 0, 0, 0.2);
  header {
    padding: 10px;
    border-bottom: 2px solid $primary;
    h1 {
      font-size: 1.6vw;
      text-align: center;
      color: $primary;
    }
  }
  form {
    padding: 10px 20px 10px 20px;
    p {
      font-weight: 500;
      color: #4a4a4aad;
      font-size: 1.45vw;
    }
    ._feedbackInfoInput,
    ._feedbackInfoTextarea {
      padding: 10px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #aaaa;
      margin: 0 0 10px 0;
      outline: none;
    }
    ._feedbackInfoTextarea {
      height: 140px;
    }

    ._feedbackSubmitBtnHidden {
      display: none;
    }
    ._feedbackSubmitBtn {
      background-color: $primary;
      width: 100%;
      padding: 6px;
      color: $white;
      height: 40px;
    }
  }
}
