@import './partials/head';
@import './partials/variables';
@import './partials/snipping';
@import './partials/page';
@import './partials/loader';
.feedbackContainer {
  position: absolute;

  .feedback {
    width: 300px;
    height: 400px;
    background: $containerColor;
    z-index: 999999999;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
  }
}
.selected {
  .deleteBtn {
    width: 20px;
    height: 20px;
    background: $gray;
    font-size: 1.2vw;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid;
  }
  &:hover {
    .deleteBtn {
      display: flex;
      border: 1px solid;
    }
  }
}
#screenshot {
  height: 100%;
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.rectangle {
  border: 5px solid $primary;
  border-radius: 9px;
  position: absolute;
  pointer-events: none;
  button {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    &:hover {
      background: $containerColor;
      color: $black;
    }
  }
  &:hover {
    border: 3px solid $red;
  }
}
.__annotateTextTool {
  border-radius: 4px;
  position: absolute;
  background-color: transparent;
  border: 2px dashed transparent;
  pointer-events: none;
  width: 200px;
  .__annotateTextToolInput {
    color: $red;
    font-weight: lighter;
    text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
    outline: none;
    pointer-events: all;
    background-color: $white;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    z-index: 9;
    margin: 15px 0 0 0;

    &::before {
      content: ' ';
      background-color: $white;
      position: absolute;
      top: -5px;
      height: 20px;
      width: 20px;
      transform: rotate(40deg);
      z-index: -1;
    }
  }
  button {
    pointer-events: auto;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;
    padding: 13px;
    color: $white;
    border: 3px solid $white;
    font-weight: 700;
    ._textAnnotateDelete {
      display: none;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
    &:hover {
      ._textAnnotateCount {
        display: none;
      }
      ._textAnnotateDelete {
        display: flex;
      }
    }
  }
  &:hover {
    border: 2px solid transparent;
  }
}

.censored {
  border-radius: 4px;
  position: absolute;
  background-color: $black;
  pointer-events: none;
  button {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    &:hover {
      background: $containerColor;
      color: $black;
    }
  }
  &:hover {
    border: 3px solid red;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.snipping__captureScreenshotContainer {
  &_left {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    .snipping__captureScreenshotBtn {
      padding: 7px;
      border: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
      transform: rotateZ(-90deg) translateX(50%) translateY(3px);
      transform-origin: 100% 100%;
      background-color: $primary;
      color: $white;
    }
  }
  &_bottom {
    position: fixed;
    bottom: 0;
    left: 10%;
    z-index: 999;
    .snipping__captureScreenshotBtn {
      padding: 7px;
      border: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
      transform-origin: 100% 100%;
      background-color: $primary;
      color: $white;
    }
  }
}
