@import './partials/head';
@import './partials/variables';
@import './partials/snipping';
@import './partials/page';
.feedbackContainer {
  position: absolute;

  .feedback {
    width: 300px;
    height: 400px;
    background: #ddd;
    z-index: 999999999;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
  }
}
.selected {
  .deleteBtn {
    width: 20px;
    height: 20px;
    background: #aaa;
    font-size: 1.2vw;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid;
  }
  &:hover {
    .deleteBtn {
      display: flex;
      border: 1px solid;
    }
  }
}
#screenshot {
  height: 100%;
  width: 100%;
}
.rectangle {
  border: 3px solid rgb(255, 255, 0);
  border-radius: 4px;
  position: absolute;
  pointer-events: none;
  button {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    &:hover {
      background: $containerColor;
      color: $black;
    }
  }
  &:hover {
    border: 3px solid red;
  }
}
.__annotateTextTool {
  border-radius: 4px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  button {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    &:hover {
      background: $containerColor;
      color: $black;
    }
  }
  &:hover {
    border: 3px solid red;
  }
}

.censored {
  border-radius: 4px;
  position: absolute;
  background-color: #000;
  pointer-events: none;
  button {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    &:hover {
      background: $containerColor;
      color: $black;
    }
  }
  &:hover {
    border: 3px solid red;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.snipping__captureScreenshotContainer {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  .snipping__captureScreenshotBtn {
    padding: 7px;
    border: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    transform: rotateZ(-90deg) translateX(50%) translateY(3px);
    transform-origin: 100% 100%;
    background-color: $primary;
    color: $white;
  }
}
